{% extends 'base.html' %}

{% block content %}
<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-auto'>
      <h1>{{ _('Edit My Profile') }}</h1>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-auto'>
      <form action='' method='post' name='edit'>
      {{form.hidden_tag()}}
        <table style='border-collapse:separate; border-spacing: 10px 20px;'>
          <tr>
            <td style='text-align:right;'>{{ _('Nickname:') }}</td>
            <td>
              {{form.nickname(size=20)}}
              {% for error in form.nickname.errors %}
                <br><span style='color:red'>{{error}}<span>
              {% endfor %}
	    </td>
          </tr>
	  <tr>
            <td style='text-align:right;'>{{ _('About me:') }}</td>
            <td>{{form.about_me(cols=20, rows=10)}}</td>
          </tr>
          <tr>
            <td></td>
	    <td align='center'><input type='submit', value={{ _('Save Changes') }}>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a href='{{ url_for('user', nickname=g.user.nickname) }}'>{{ _('Return') }}</a></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
